@model RestaurantViewModel
<form method="post">

    <input type="text" asp-for="@Model.Name" />
    <input type="text" asp-for="@Model.Address" />

    <input type="submit" name="Save" value="Save" />
</form>